*{
    margin: 0;
    padding: 0;
}

#cabeça{
    background-color: #19A5F3;
    height: 199px;
    width: 100%;
}#principal{
      position: absolute;
      color: black;
      margin-top: 60px;
      font-size: 50px ;
      margin-left: 60px;

}a :hover{
    text-decoration: underline;
    
} a{
    text-decoration: none;
}
#título{
    float: left;
    padding-top: 60px;
    padding-left: 600px;
    font-size: 50px;
    color: white;
}
#turma{
    float: right;
    padding-top: 60px;
    padding-right: 200px;
    font-size: 50px;
    color: white;

}
#corpo{
    background-image: linear-gradient(#1858B9, #2BF5A0);
    width: 100%;
    height: 1900px;
}
#texto1{
    position: absolute;
    left: 36px;
    top: 245px;

    font-size: 60px;
    line-height: 60px;
    color: white;
}
#gmail{
    position: absolute;
    width: 290px;
    height: 106px;
    left: 158px;
    top: 650px;



}
#botão1{
  background-color: red;
  height: 200px;
  width: 400px;
  font-size: 50px;
 position: absolute;
 top: 100px;

}
#botão2{
    position: absolute;
    width: 400px;
    height: 200px;
    left: 800px;
    top: 750px;
    background-color: #2F2BEE;
    font-size: 50px;
}
#botão3{
    position: absolute;
    width: 400px;
    height: 200px;
    left: 1400px;
    top: 750px;
    font-size: 50px;
    background-color: #716262;
}
#botão4{
    position: absolute;
    width: 400px;
    height: 200px;
    left: 158px;
    top: 1050px;
    font-size: 50px;
    background-color: #00FDCF;
}
#botão5{
    position: absolute;
    width: 400px;
    height: 200px;
    left: 800px;
    top: 1050px;
    font-size: 50px;
    background-color: yellow;
}
#botão6{
    position: absolute;
    width: 400px;
    height: 200px;
    left: 1400px;
    top: 1050px;
    font-size: 50px;
    background-color: pink;
} #botão7{
    position: absolute;
width: 400px;
height: 200px;
left: 450px;
top: 1350px;
font-size: 50px;
background-color: #47F00B;

}#botão8{
    position: absolute;
    width: 400px;
    height: 200px;
    left: 1100px;
    top: 1350px;
    font-size: 50px;
    background-color: #53C7C7;

}
#texto2{
    position: absolute;
width: 1500px;
height: 463px;
left: 350px;
top: 1700px;


font-weight: 500;
font-size: 60px;
line-height: 60px;
color: white;
}
#rodapé{
    position: absolute;
width: 100%;
height: 302px;
left: 0px;

background: #1CDA93;
}
#texto3{
    position: absolute;
width: 359px;
height: 160px;
left: 143px;
top: 100px;

font-family: 'Kanit';
font-style: italic;
font-weight: 500;
font-size: 40px;
line-height: 60px;

color: #170A0A;

}
#texto4{
    position: absolute;
width: 710px;
height: 97px;
left: 800px;
top: 100px;

font-family: '';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 73px;

color: #CE0000;
}